* {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.nav-bar {
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 80px;
}

.nav-bar:after {
  content: '';
  width: 95%;
  left: 2.5%;
  height: 1px;
  background: #e0e0e0;
  position: absolute;
  bottom: -4px;
}

.nav-bar--logo {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  font-weight: 300;
  line-height: 60px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  color: #4183d7;
}

.container {
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 80px;
}

.pages-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.navbar {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  z-index: -1;
}

.page-list {
  position: relative;
  padding: 0 50px 0 0;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
}

.page-list:after {
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1px;
}

.page-list--title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 300;
}

.page {
  padding: 20px 0;
}
.page:hover {
  color: #4183d7;
}
.page--title {
  font-size: 24px;
}

.page--category {
  font-size: 14px;
}
.page-detail {
  flex-grow: 1;
  padding: 0 0 0 50px;
}

.page-detail--title {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}

.page-detail--category {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.auth-button {
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-button:hover {
  color: #4183d7;
}
.page-detail--post-type-container {
  display: flex;
  justify-content: center;
}

.page-detail--post-type {
  padding: 0px 30px;
  font-size: 24px;
  cursor: pointer;
  transition: .2s;
}
.page-detail--post-type:hover {
  color: #4183d7;
}
.page-detail--header {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

a:hover {
  color: #4183d7;
}

.active {
  color: #4183d7;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.write-post--container {
  width: 100%;
  padding: 0px 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.write-post--input {
  margin: 0 auto;
  resize: none;
  padding: 17px;
  border: 1px solid #e0e0e0;
  outline: none;
  height: 54px;
  font-size: 18px;
  letter-spacing: 1.1px;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.write-post--submit {
  border: none;
  background-color: #4183d7;
  color: #fff;
  height: 40px;
  font-size: 18px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px;
  transition: .2s;
}
.write-post--submit:hover {
  background-color: #446cb3;
}

.post-list--container {
  width: 100%;
  margin-top: 50px;
}

.post-list--post {
  padding: 15px 30px;
  border-radius: 3px;
  box-shadow: 0 0px 10px 0px rgba(65, 131, 215, 0.3);
  margin: 10px 0;
}
.post-list--post-message {
  margin: 15px 0;
}
.post-list--post-metadata-container {
  display: flex;
  justify-content: space-between;
}

.post-list--post-metadata {
  font-size: 14px;
  color: #757575;
}

/*
Spinning loader classes
*/
.spinner {
  width: 60px;
  height: 60px;
  background-color: #333;
  position: fixed;
  top: 40vh;
  left: 50vw;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
